* {
    margin:0;
    padding:0;
}

body{
    font: normal 16px Arial, Helvetica, sans-serif;
}

h1, h3{
    font: normal 24px 'Open Sans', Arial, Helvetica, sans-serif;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    box-sizing: border-box;
}

form .field {
    margin: 10px;
}

header {
    position: fixed;
    top: 0;
    left:0;
    right:0;

    height: 24px;
    z-index: 100;

    background-color: #282b2c;
    padding: 20px 40px;
    color: #fff;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
}

header a {
    float: right;
    opacity:0.9;
    font-size: 20px;
    cursor: pointer;
}

header a:visited {
    color: inherit;
}

.button {
    margin-bottom: 12px;
}

.button button {
    min-width: 200px;
    padding: 5px 30px;
    font-size: 16px;
    border-radius: 20px;
}

.main-content {
	text-align: center;
	margin: auto;
}

.overlay {
    height: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282b2c;
    transition: 0.6s;
    z-index: 100;
}

.page.visible .overlay{
    height: 100%;
}

/*---------------------------
	Error Page
----------------------------*/

.error {
    opacity: 0;
    transition: 0.6s;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
}

.error.visible {
    opacity: 1;
}

.error h3{
    font-size: 40px;
}


/*----------------------------
  Login page
----------------------------*/

form {
    border: 3px solid #f1f1f1;
    max-width: 98%;
    margin: auto;
    width: 375px;
}
input#email, input[type=text], input[type=password], input[type=email], select, option {
    width: 300px;
    max-width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button button {
    padding: 5px 30px;
    border-radius: 0px;
    font-size: 30px;
    width: 300px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
	max-width: 96%;
}

button:hover {
    opacity: 0.8;
}
#create_account a, #login_link a{
    text-decoration: none;
    font-size: 26px;
}
p#create_account, p#login_link {
    margin: 30px;
}
#activities-list input, #activities-list select, #activities-list option {
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    background-color: #ffffe5;
    min-width: unset;
    max-width: 100px;
}
#activities-list input.filter{
    min-width: 200px;
}
table.activities{
    padding:0; 
    margin:40px auto; 
    border:2px solid #010101;
}

table.activities td {
    border: 1px solid #010101;
    padding: 5px;
}